<!doctype html>
<html>
<head>
    <% include ../views/partials/head %> 
</head>
<body>
<div class="container logonbox">
<div class="col-sm-4 col-sm-offset-4 login">
    
    <h2><span class="fa fa-sign-in"></span> Reset Password</h2>
    
    <% if (message.length > 0) { %>
        <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a> 
            <i class="fa fa-check"></i>
                The beach <strong><%=beach.name%></strong> <%=message%> 
        </div>
    <% } %>
    
	<!-- LOGIN FORM -->
	<form method="post">
			<input type="password" class="form-control" name="password" placeholder="Password">
            <input type="password" class="form-control" name="passwordConfirm" placeholder="Password">
            <button type="submit" class="btn btn-warning btn-login">Update Password</button>
	</form>

	<hr>
    <div class="forgot login-footer">
            <span>Already have an account? 
                <a href="/login"> sign in here.</a>
            </span>
            </br>
    </div>

	<div class="text-center">
        <p>By signing up for Knotify, you agree to the </br> <a href="/terms">Terms and Conditions</a></p>  
        <p>View our <a href="/privacypolicy">Privacy Policy.</a></p>
	</div>

    </div>
</div>
</body>
</html>