<!--<div class="dropdown col-xs-12">-->
    <button class="btn btn-primary dropdown-toggle" 
                                type="button" id="dropdownBeach" 
                                data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="true">Change Beach<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id="dropdownBeachItems" >
        <% for(var i=0; i<beaches.length; i++) { %>
            <li>
                <a href='/post/byBeach/<%=beaches[i]._id %>'>
                    <span><img src="https://s3-eu-west-1.amazonaws.com/kiteloop/public/country-dropdown/images/msdropdown/icons/blank.gif" 
                               class="favflag flag <%=beaches[i].country%> fnone"></span> <%= beaches[i].name %></a>
            </li>
        <% } %>
    </ul>
<!--</div>-->