<h5><%=s.name %></h5>
<br> 
<h6><%=s.email %></hp>
<br>
<h6><%=s.phone %></h6>

<% if(s.kiteschool == true){ %>
<% } %>

<% if(s.kiteschool == true){ %>
<% } %>

<% if(s.food == true){ %>
<% } %>

<% if(s.bed == true){ %>
<% } %>